{% extends 'base.html.twig' %}

{% block title %}
    Корзина - {{ parent() }}
{% endblock %}

{% block body %}
    <div class="container">
        <h3>Заказы пользователя</h3>

        <style>
            TABLE {border: 5px double; width: 600px;}
            TH {text-align: center;}
            TD {text-align: center;}
            TH, TD { border: 1px solid ;}
            .itog {text-align: right;}
        </style>



        <table>
        <tr>
            <th>Товар</th>
            <th>Цена</th>
            <th>Количество</th>
            <th>Стоимость</th>
        </tr>

        <tr>


        {#@var item \App\Entity\OrderItem #}
        {% for item in order.items %}
            <tr>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.price }}</td>
                <td>{{ item.count}}</td>
                <td>{{ item.amount }}</td>
            </tr>

        {% endfor %}

            <th class="itog" colspan="2">Итого</th>
            <th>{{ order.count }}</th>
            <th>{{ order.amount }}</th>

            </tr>
                </table>
    </div>

{% endblock %}